<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;">Ingreso de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <!--Logo-->
      <ion-img class="SeekAlogo"></ion-img>
      <ion-card-title style="text-align: center;">Ingresar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Formulario reactivo para login -->
      <form [formGroup]="formularioLogin">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </form>
      <br>
      <!-- Botón para ingresar -->
      <ion-button expand="full" shape="round" (click)="ingresar()">
        Ingresar
      </ion-button>
      <!-- Botón para restablecer contraseña -->
      <ion-button expand="full" color="medium" shape="round" (click)="restablecer()">
        Restablecer contraseña
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <!-- Botón para registrarse -->
    <ion-button expand="full" class="boton" color="secondary" shape="round" (click)="registrarse()">
      Registrarse
    </ion-button>
  </ion-toolbar>
</ion-footer>
