<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center; padding-left: 90px;">
      SeekA
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="end" name="menu-outline" size="large" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-img class="background-image"></ion-img>

  
  <ion-grid>
    <ion-row>
      <ion-col>
        <div id="container">
          <h1>Bienvenido, {{ username }}</h1>
          <p>Gracias por usar nuestra aplicación para descubrir el arte urbano y los tesoros que esconde la ciudad.</p>
          <br>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-img class="wolf_notfound"></ion-img>
</ion-content>
